---

import { Image } from 'astro:assets';

import styles from './_index.module.css'

import Layout from '../layouts/Layout.astro';
---

<Layout
  ogp_img="ogp_image.jpg"
  >
  <p>Template</p>
</Layout>

<script>
// import Lenis from 'lenis'
// import { UAParser } from 'ua-parser-js';

// history.scrollRestoration = 'manual'

// const { device } = UAParser(navigator.userAgent);

// if (device.is('mobile') || device.is('tablet')) {
//   // モバイルデバイスではLenisを無効化
// } else {
//   const lenis = new Lenis({
//     autoRaf: true,
//     syncTouch: true,
//   })
// }
</script>
