---

import { Image } from 'astro:assets';

import styles from './_index.module.css'

import Layout from '../layouts/Layout.astro';
---

<Layout
  ogp_img="ogp_image.jpg"
  >
  <p>Template</p>
</Layout>

<script type="module">
// import Lenis from 'lenis'
// import Bowser from 'bowser'

// history.scrollRestoration = 'manual'

// const parser = Bowser.getParser(window.navigator.userAgent)
// const platformType = parser.getPlatformType()

// if (platformType === 'mobile' || platformType === 'tablet') {
//   // モバイルデバイスではLenisを無効化
// } else {
//   const lenis = new Lenis({
//     autoRaf: true,
//     syncTouch: true,
//   })
// }
</script>
