@custom-media --mobile (max-width: 850px);

@custom-media --desktop (min-width: 850px);
@custom-media --desktop-short (min-width: 850px) and (max-width: 1180px);
@custom-media --desktop-wide (min-width: 1440px);
